@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .listContainer {
        width: 100vw;
        display: flex;
        flex-direction: column;
        
    }
    .Card{
        width: 80vw;
        padding: 20px;
        height: 70vh;
        margin: 0 auto;
        border: solid black 1px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

    }
    .Card img{
        height: 10rem;
        background-color: bisque;
        margin: 0 auto;
    }
    .Card h1{
        height: 1rem;
        font-size: large;
    }
    .Card ul{
        display: inline;
        overflow: auto;
        height: 4rem;
    }
    .Card ul li{
        list-style: none;;
        text-align:left;
    }
  }