@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
body {
  font-family: 'Young Serif', serif;
  background-color: #d6d4da;
  overflow-x: hidden ;
}
h1{
  font-family: 'Young Serif', serif;
  color: #000000;
  font-size: large;
}
h2 {
  text-align: center;
  font-family: 'Young Serif', serif;
  color: #000000;
}

p{
  text-align: right;
  color: #000000;
  font-size: medium;
  font-family: 'Young Serif', serif;
}

/*=======================================================================================================*/

